<section class="content">
  <br />
  <div class="text-center">
    <!-- Div Container for Seraching Details -->

    <div class="searchDetails">
      <div class="container">
        <h3 class="my-3">EDL Summary</h3>
        <div class="form-group">
          <!-- <label for="edlSelect">Select an EDL</label>
                    <br> -->
          <select class="form-control my-3" id="edlSelect">
            <option value="" disabled selected class="text-center">
              Select an EDL
            </option>
            <option value="edl1">Abhishek_Jain</option>
            <option value="edl2">Royer_Steven</option>
            <option value="edl3">Anirban_Halder</option>
            <option value="edl4">EDL 4</option>
            <option value="edl5">EDL 5</option>
            <option value="edl6">EDL 6</option>
            <option value="edl7">EDL 7</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Div Container for Fetching Details -->

    <div class="viewDetails">
      <div class="container">
        <p class="text-center">Total M-O-M Portfolio</p>
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Parent Customer</th>
              <th scope="col">Finincial Year</th>
              <th scope="col">Jan</th>
              <th scope="col">Feb</th>
              <th scope="col">Mar</th>
              <th scope="col">Apr</th>
              <th scope="col">May</th>
              <th scope="col">Jun</th>
              <th scope="col">Jul</th>
              <th scope="col">Aug</th>
              <th scope="col">Sep</th>
              <th scope="col">Oct</th>
              <th scope="col">Nov</th>
              <th scope="col">Dec</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">HealthNow NewYork</td>
              <td>2023</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td scope="row">Tennessee Rrural Health</td>
              <td>2024</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
