<nav class="navbar">
    <div class="navbar-left">
        <h1>Utility Portal</h1>
    </div>
    <div class="navbar-right">
        <a routerLink="/edl_summary">EDL Summary</a>
        <a routerLink="winzone_pipeline">Winzone Pipeline</a>
        <a routerLink="service_forcast_planer">Services Forecast Planner</a>
        <!-- <a href="#">nav4</a> -->
        <a href="#"><button class="btn btn-outline-success" type="button">LogOut</button></a>
    </div>
</nav>

<style>
    
</style>
<!-- <p>layout works!</p> -->
<router-outlet></router-outlet>

